<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabelas do Banco</title>
  <link rel="stylesheet" href="../public/estilo/style.css">
  <link rel="stylesheet" href="../public/estilo/banco.css">
  <link rel="stylesheet" href="../public/estilo/filtro.css">
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="container hidden">
    <aside class="sidebar">
      <a href="/bombex/admin" class="menu-btn" data-i18n="menu.voltar">Voltar</a>
      
      <div class="menu-diamond"></div>
      <div class="logo_ex">
        <h1>ÊXODO</h1>
        <h4>AUTOMAÇÃO</h4>
      </div>
      <button class="menu-btn exit-btn" data-i18n="menu.sair">Sair</button>
      <h2 class="footer_aside">
        <i class="bi bi-c-circle"></i>
        <span data-i18n="footer.direitos">Desenvolvido por Lucas Soares</span>
      </h2>
    </aside>   
    <main class="content">
      <div id="loading" class="loading-container">
        <div class="loading-circle"></div>
      </div>
      <div class="conteudo hidden">
        <h1 id="tabela-titulo">Tabelas</h1>  
        <form class="filtro-container" action="/filtrar-tabelas" method="post">
          <input type="hidden" name="banco" value="<%= banco %>">

        
          <div class="filtro-pesquisa">
            <label for="table">Pesquisar:</label>
            <input type="text" id="filtro-nome" name="table" placeholder="Digite o valor a pesquisar...">
          </div>
        
          <button class="btn_ed" type="submit" id="aplicar-filtro">Aplicar Filtro</button>
        </form>
        <div class="tabela-container">
          <h3>Total: <%= tables.length %></h3>
          <table id="tabela">
            <thead>
              <tr>
                <th>Nome</th>

                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <% tables.forEach(function(table) { %>
                <tr>
                  <td class="tabela-nome" data-nome="<%= table %>">

                    <form class="form_dbs" method="GET" action="/colunas">
                      <input type="hidden" name="table" value="<%= table %>">
                      <input type="hidden" name="banco" value="<%= banco %>">
                      <input class="dbname" type="submit" value="<%= table %>">
                    </form>
                  </td>
                  <td>
                    <form action="/delete_db" method="POST">
                      <input type="hidden" name="banco" value="<%= table %>">
                      <button type="submit" class="btn_del"><i class="bi bi-trash3"></i></button>
                    </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        
      </div>
    </main>
  </div>
  <div class="footer_body hidden">
    <i class="bi bi-c-circle"></i>
    <h1>2024 - Êxodo Automação |</h1>
    <h1>Desenvolvido por Lucas Soares</h1>
  </div>
</body>
<script src="../public/js/script.js"></script>
<script src="../public/js/translate.js"></script>
<script>
window.addEventListener("load", () => {
  const container = document.querySelector(".container");
  const footer_body = document.querySelector(".footer_body");

  
  setTimeout(() => {
    container.classList.remove("hidden");
    footer_body.classList.remove("hidden");
  }, 500); 
});
</script>

</html>
